<div>
  <h1>Http Test</h1>

  <input type="text" ng-model="vm.load">
  <button ng-click="vm.request()">Update Route and Request</button>
  <button ng-click="vm.requestDirect()">Make Request</button>

  <div>
    <div>Length: {{vm.query.length}}</div>
    <pre>{{vm.query | json}}</pre>
  </div>

  <!-- <button ng-click="vm.runTestA()">Test with ~1000</button>
  <br/>
  <button ng-click="vm.runTestB()">Test with ~1700</button>
  <br/>
  <button ng-click="vm.runTestC()">Test with ~2600</button>
  <br/>
  <button ng-click="vm.runTestD()">Test with ~3500</button>
  <br/>
  <button ng-click="vm.runTestI()">Test with ~4300</button>
  <br/>
  <button ng-click="vm.runTestE()">Test with ~8600</button>
  <br/>
  <button ng-click="vm.runTestF()">Test with ~13000</button>
  <br/>
  <button ng-click="vm.runTestG()">Test with ~50000</button>
  <br/>
  <button ng-click="vm.runTestH()">Test with ~77000</button> -->


</div>
