<div>
  <h1>Articles</h1>

  <p>
    Count: {{vm.count}}
  </p>

  <button type="button" ng-click="vm.addCount()" name="button">Add count</button>
  <button type="button" ng-click="vm.subtractCount()" name="button">Subtract count</button>

  <div class="form-group">
    <label class="form-label">Number A</label>
    <input class="form-input" ng-model="vm.numberA" type="number">

    <label class="form-label">Number B</label>
    <input class="form-input" ng-model="vm.numberB" type="number">
  </div>

  <button ng-click="vm.addNumbers()">Add numbers</button>

  <p>
    Total: {{vm.total}}
  </p>
</div>
